@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

@theme{
  --shadow-box-glass:0 10px 25px 0 rgba(0, 0, 0, 0.03);
}
